{
  "extends": "airbnb",
  "rules": {
        "indent": [2, "tab"],
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "no-console": 0,
        "arrow-body-style": ["error", "always"]
    },
  "parser": "babel-eslint"
}
